/********  MIXIN  ************/
@mixin flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex_left {
    display: flex;
    justify-content: start;
    align-items: flex-start;
}

@mixin flex_right {
    display: flex;
    justify-content: end;
    align-items: flex-start;
}

@mixin between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/***** STYLE ******/
.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

/* COLORS */


$one-color: hsl(209deg 98% 49%);
$two-color: hsl(0deg 0% 19%);
$three-color: #1c1c1c;